.sidenav__toggle-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 48px;
}

.sidenav__user {
  min-width: calc(220px - 56px);
  img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
  .small-icon {
    font-size: 16px;
    line-height: 1em;
  }
}

.sidenav__link-active {
  display: block;
  background: $secondary;
  border-radius: 4px;
}
