.upload {
  height: 500px;
  max-width: 1100px;
  margin: 0px auto;
  box-shadow: $box-shadow;

  .label {
    background: rgba(0, 0, 0, 0.34);
    outline: 2px dashed rgba(0, 0, 0, 0.87);
    outline-offset: -24px;

    .upload__button {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      vertical-align: middle;
    }
  }
  input[type="file"] {
    visibility: hidden;
  }
}
