.container {
  max-width: 1000px;
  margin: 0px auto;
}
.border-radius-none {
  border-radius: 0px !important;
}
.card-hover {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  }
}
.circular-image {
  height: 48px !important;
  width: 48px !important;
  border-radius: 50%;
  overflow: hidden;
}
.big-circular-image {
  height: 200px !important;
  width: 200px !important;
  border-radius: 50%;
  overflow: hidden;
}
.pre {
  white-space: pre;
}
.display-none {
  display: none;
}
